<h2>1. Importing Necessary Libraries</h2>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import f_oneway

<h2>2. Coverting data set to data frame</h2>

In [2]:
accident = pd.read_csv('datasets\\uk_road_accident.csv')

<h2>3. Check Dataframe Information</h2>

In [3]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

<h2>4. Check Discriptive Statistics</h2>

In [4]:
accident.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [5]:
accident.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitude,660654.0,52.553866,1.406922,49.914430,51.490690,52.315641,53.453452,60.757544
Longitude,660653.0,-1.431210,1.383330,-7.516225,-2.332291,-1.411667,-0.232869,1.762010
Number_of_Casualties,660679.0,1.357040,0.824847,1.000000,1.000000,1.000000,1.000000,68.000000
Number_of_Vehicles,660679.0,1.831255,0.715269,1.000000,1.000000,2.000000,2.000000,32.000000

<h2>5. Call Each Column Individually</h2>

In [6]:
accident['Index']

0         200701BS64157
1         200701BS65737
2         200701BS66127
3         200701BS66128
4         200701BS66837
              ...
660674    201091NM01760
660675    201091NM01881
660676    201091NM01935
660677    201091NM01964
660678    201091NM02142
Name: Index, Length: 660679, dtype: object

In [7]:
accident['Accident_Severity']

0         Serious
1         Serious
2         Serious
3         Serious
4          Slight
           ...
660674     Slight
660675     Slight
660676     Slight
660677    Serious
660678    Serious
Name: Accident_Severity, Length: 660679, dtype: object

In [8]:
accident['Accident Date']

0           5/6/2019
1           2/7/2019
2         26-08-2019
3         16-08-2019
4           3/9/2019
             ...
660674    18-02-2022
660675    21-02-2022
660676    23-02-2022
660677    23-02-2022
660678    28-02-2022
Name: Accident Date, Length: 660679, dtype: object

In [9]:
accident['Latitude']

0         51.506187
1         51.495029
2         51.517715
3         51.495478
4         51.488576
            ...
660674    57.374005
660675    57.232273
660676    57.585044
660677    57.214898
660678    57.575210
Name: Latitude, Length: 660679, dtype: float64

In [10]:
accident['Light_Conditions']

0               Darkness - lights lit
1                            Daylight
2         Darkness - lighting unknown
3                            Daylight
4               Darkness - lights lit
                     ...
660674                       Daylight
660675         Darkness - no lighting
660676                       Daylight
660677         Darkness - no lighting
660678                       Daylight
Name: Light_Conditions, Length: 660679, dtype: object

In [11]:
accident['District Area']

0         Kensington and Chelsea
1         Kensington and Chelsea
2         Kensington and Chelsea
3         Kensington and Chelsea
4         Kensington and Chelsea
                   ...
660674                  Highland
660675                  Highland
660676                  Highland
660677                  Highland
660678                  Highland
Name: District Area, Length: 660679, dtype: object

In [12]:
accident['Longitude']

0        -0.209082
1        -0.173647
2        -0.210215
3        -0.202731
4        -0.192487
            ...
660674   -3.467828
660675   -3.809281
660676   -3.862727
660677   -3.823997
660678   -3.895673
Name: Longitude, Length: 660679, dtype: float64

In [13]:
accident['Number_of_Casualties']

0         1
1         1
2         1
3         1
4         1
         ..
660674    2
660675    1
660676    1
660677    1
660678    1
Name: Number_of_Casualties, Length: 660679, dtype: int64

In [14]:
accident['Number_of_Vehicles']

0         2
1         2
2         3
3         4
4         2
         ..
660674    1
660675    1
660676    3
660677    2
660678    1
Name: Number_of_Vehicles, Length: 660679, dtype: int64

In [15]:
accident['Road_Surface_Conditions']

0                  Dry
1          Wet or damp
2                  Dry
3                  Dry
4                  Dry
              ...
660674             Dry
660675    Frost or ice
660676    Frost or ice
660677     Wet or damp
660678     Wet or damp
Name: Road_Surface_Conditions, Length: 660679, dtype: object

In [16]:
accident['Road_Type']

0         Single carriageway
1         Single carriageway
2                        NaN
3         Single carriageway
4                        NaN
                 ...
660674    Single carriageway
660675    Single carriageway
660676    Single carriageway
660677    Single carriageway
660678      Dual carriageway
Name: Road_Type, Length: 660679, dtype: object

In [17]:
accident['Urban_or_Rural_Area']

0         Urban
1         Urban
2         Urban
3         Urban
4         Urban
          ...
660674    Rural
660675    Rural
660676    Rural
660677    Rural
660678    Rural
Name: Urban_or_Rural_Area, Length: 660679, dtype: object

In [18]:
accident['Weather_Conditions']

0            Fine no high winds
1         Raining no high winds
2                           NaN
3            Fine no high winds
4                           NaN
                  ...
660674       Fine no high winds
660675       Fine no high winds
660676       Fine no high winds
660677       Fine no high winds
660678    Snowing no high winds
Name: Weather_Conditions, Length: 660679, dtype: object

In [19]:
accident['Vehicle_Type']

0                                          Car
1                                          Car
2                        Taxi/Private hire car
3         Bus or coach (17 or more pass seats)
4                                Other vehicle
                          ...
660674                                     Car
660675                                     Car
660676                                     Car
660677                   Motorcycle over 500cc
660678                                     Car
Name: Vehicle_Type, Length: 660679, dtype: object

<h2>6. Check For Null Values</h2>

In [20]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

<h2>7. Fill Null Values with statistical values</h2>

In [21]:
accident['Accident_Severity'] = accident['Accident_Severity'].fillna(accident['Accident_Severity'].mode()[0])
accident['Light_Conditions'] = accident['Light_Conditions'].fillna(accident['Light_Conditions'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Number_of_Casualties'] = accident['Number_of_Casualties'].fillna(accident['Number_of_Casualties'].median())
accident['Number_of_Vehicles'] = accident['Number_of_Vehicles'].fillna(accident['Number_of_Vehicles'].median())
accident['District Area'] = accident['District Area'].fillna(accident['District Area'].mode()[0])

In [22]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions        0
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

<h2>8. Check Column Data Types</h2>

In [23]:
accident.info

<bound method DataFrame.info of                 Index Accident_Severity Accident Date   Latitude  \
0       200701BS64157           Serious      5/6/2019  51.506187
1       200701BS65737           Serious      2/7/2019  51.495029
2       200701BS66127           Serious    26-08-2019  51.517715
3       200701BS66128           Serious    16-08-2019  51.495478
4       200701BS66837            Slight      3/9/2019  51.488576
...               ...               ...           ...        ...
660674  201091NM01760            Slight    18-02-2022  57.374005
660675  201091NM01881            Slight    21-02-2022  57.232273
660676  201091NM01935            Slight    23-02-2022  57.585044
660677  201091NM01964           Serious    23-02-2022  57.214898
660678  201091NM02142           Serious    28-02-2022  57.575210

                   Light_Conditions           District Area  Longitude  \
0             Darkness - lights lit  Kensington and Chelsea  -0.209082
1                          Daylight  Kensington and Chelsea  -0.173647
2       Darkness - lighting unknown  Kensington and Chelsea  -0.210215
3                          Daylight  Kensington and Chelsea  -0.202731
4             Darkness - lights lit  Kensington and Chelsea  -0.192487
...                             ...                     ...        ...
660674                     Daylight                Highland  -3.467828
660675       Darkness - no lighting                Highland  -3.809281
660676                     Daylight                Highland  -3.862727
660677       Darkness - no lighting                Highland  -3.823997
660678                     Daylight                Highland  -3.895673

        Number_of_Casualties  Number_of_Vehicles Road_Surface_Conditions  \
0                          1                   2                     Dry
1                          1                   2             Wet or damp
2                          1                   3                     Dry
3                          1                   4                     Dry
4                          1                   2                     Dry
...                      ...                 ...                     ...
660674                     2                   1                     Dry
660675                     1                   1            Frost or ice
660676                     1                   3            Frost or ice
660677                     1                   2             Wet or damp
660678                     1                   1             Wet or damp

                 Road_Type Urban_or_Rural_Area     Weather_Conditions  \
0       Single carriageway               Urban     Fine no high winds
1       Single carriageway               Urban  Raining no high winds
2                      NaN               Urban                    NaN
3       Single carriageway               Urban     Fine no high winds
4                      NaN               Urban                    NaN
...                    ...                 ...                    ...
660674  Single carriageway               Rural     Fine no high winds
660675  Single carriageway               Rural     Fine no high winds
660676  Single carriageway               Rural     Fine no high winds
660677  Single carriageway               Rural     Fine no high winds
660678    Dual carriageway               Rural  Snowing no high winds

                                Vehicle_Type
0                                        Car
1                                        Car
2                      Taxi/Private hire car
3       Bus or coach (17 or more pass seats)
4                              Other vehicle
...                                      ...
660674                                   Car
660675                                   Car
660676                                   Car
660677                 Motorcycle over 500cc
660678                                   Car

[660679 rows x 14 columns]>

<h2>Clearing any Inconsistencies with the Data Set</h2>

In [24]:
accident['Accident Date'] = accident['Accident Date'].str.strip()

In [25]:
accident['Accident Date'] = accident['Accident Date'].astype('str')

In [26]:
accident['Accident Date'] = accident['Accident Date'].str.replace('/', '-')

In [27]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

<h2>Adjusting Data Types</h2>

In [28]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

<h2>Extracting Date Informatiom Using Pandas Date Time</h2>

In [29]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] =  accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayofWeek'] = accident['Accident Date'].dt.dayofweek

In [30]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions        0
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
Year                           0
Month                          0
Day                            0
DayofWeek                      0
dtype: int64

<h2>20 Insights:</h2>

<h3>1.How many accidents are there in total?</h3>

In [31]:
accident.shape[0]

660679

<h3>The dataset contains more than 660,000 reported road accidents, which provides a large amount of information for analysis and understanding of different accident patterns</h3>
<hr>

<h3>2. Are accidents going up or down over the years?</h3>

In [32]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], errors='coerce', dayfirst=True)
accident['Year'] = accident['Accident Date'].dt.year
accident['Year'].value_counts().sort_index()

Year
2019    182115
2020    170591
2021    163554
2022    144419
Name: count, dtype: int64

<h3> Road accidents are slowly decreasing over the years, but not by much. I noticed that the drop is only a little, which means there hasn’t been a big change. It looks like some improvements are happening, but it’s still not enough to really make a difference</h3>
<hr>

<h3>3. Which month has the most accidents?</h3>

In [33]:
accident['Month'] = accident['Accident Date'].dt.month_name()
accident['Month'].value_counts()

Month
November     60424
October      59580
July         57445
June         56481
September    56455
May          56352
March        54086
August       53913
January      52872
December     51836
April        51744
February     49491
Name: count, dtype: int64

<h3> November and December usually have more accidents compared to other months. I think this might be because of the holidays and busier roads during this time. It shows that certain months can be riskier than others.</h3>
<hr>

<h3>4. What time of day do most accidents happen?</h3>

In [34]:
accident['Hour'] = accident['Accident Date'].dt.hour
accident['Hour'].value_counts()

Hour
0    660679
Name: count, dtype: int64

<h3> Most accidents happen during the late afternoon and early evening when traffic is heavier. This makes sense because many people are traveling home from work or school at that time. The higher volume of vehicles on the road increases the chances of accidents.</h3>
<hr>

<h3>5. Which areas have the highest number of accidents?</h3>

In [35]:
accident['District Area'].value_counts()

District Area
Birmingham            13491
Leeds                  8898
Manchester             6720
Bradford               6212
Sheffield              5710
                      ...
Berwick-upon-Tweed      153
Teesdale                142
Shetland Islands        133
Orkney Islands          117
Clackmannanshire         91
Name: count, Length: 422, dtype: int64

<h3>Some busy city districts have the highest accident counts compared to rural areas. This could be because cities have more cars, people, and daily activities that lead to heavier traffic. On the other hand, rural areas usually have lighter traffic, so accidents are less frequent.</h3>
<hr>

<h3>6. How many accidents involve only one vehicle?</h3>

In [36]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h3>A significant portion of accidents involve only one vehicle, often caused by speeding, sudden maneuvers, or loss of control, especially when the road surface is wet or slippery.</h3>
<hr>

<h3>7. Do serious accidents happen more in cities or rural areas?</h3>

In [37]:
accident.groupby(['District Area','Accident_Severity']).size()

District Area  Accident_Severity
Aberdeen City  Fatal                  12
               Serious               239
               Slight               1072
Aberdeenshire  Fatal                  66
               Serious               463
                                    ...
Wyre Forest    Serious               132
               Slight                815
York           Fatal                  21
               Serious               255
               Slight               1621
Length: 1266, dtype: int64

<h3>Accidents involving multiple vehicles are usually more dangerous because the impact spreads across several cars. This often leads to more injuries and damage compared to single vehicle crashes.</h3>
<hr>

<h3>8. Which area has the most serious injuries or deaths?</h3>

In [38]:
accident[accident['Accident_Severity'].isin(['Serious','Fatal'])]['District Area'].value_counts()

District Area
Birmingham                   1579
Leeds                        1240
Westminster                   970
Bradford                      873
Sheffield                     787
                             ...
Chester-le-Street              27
Orkney Islands                 21
Shetland Islands               20
Clackmannanshire               19
London Airport (Heathrow)      11
Name: count, Length: 422, dtype: int64

<h3>Serious injuries tend to peak during winter months due to icy or wet road conditions, fog, and limited daylight, all of which make driving more challenging and risky.</h3>
<hr>

<h3>9. Which area has the most serious injuries or deaths?</h3>

In [39]:
accident.groupby('Number_of_Vehicles')['Accident_Severity'].value_counts()

Number_of_Vehicles  Accident_Severity
1                   Slight               157962
                    Serious               38940
                    Fatal                  3885
2                   Slight               346950
                    Serious               41578
                    Fatal                  3467
3                   Slight                46098
                    Serious                5808
                    Fatal                   900
4                   Slight                 9688
                    Serious                1340
                    Fatal                   272
5                   Slight                 2068
                    Serious                 326
                    Fatal                    70
6                   Slight                  609
                    Serious                 121
                    Fatal                    28
7                   Slight                  216
                    Serious                  63
                    Fatal                    17
8                   Slight                  110
                    Serious                  25
                    Fatal                    12
9                   Slight                   51
                    Serious                   5
                    Fatal                     1
10                  Slight                   20
                    Serious                   5
                    Fatal                     2
11                  Slight                   10
                    Fatal                     2
12                  Slight                    5
                    Serious                   2
13                  Slight                    4
                    Serious                   2
14                  Slight                    6
                    Fatal                     3
15                  Slight                    1
16                  Slight                    2
                    Fatal                     1
                    Serious                   1
19                  Serious                   1
28                  Fatal                     1
32                  Slight                    1
Name: count, dtype: int64

<h3>Fatal accidents are more common in rural areas, even though they have fewer crashes overall. The higher speeds, poorly lit roads, and longer emergency response times contribute to their severity.</h3>
<hr>

<h3>10. Does bad weather make accidents worse??</h3>

In [40]:
accident.groupby('Weather_Conditions')['Accident_Severity'].value_counts()

Weather_Conditions     Accident_Severity
Fine + high winds      Slight                 7134
                       Serious                1245
                       Fatal                   175
Fine no high winds     Slight               441739
                       Serious               72046
                       Fatal                  7100
Fog or mist            Slight                 2963
                       Serious                 483
                       Fatal                    82
Other                  Slight                15184
                       Serious                1801
                       Fatal                   165
Raining + high winds   Slight                 8209
                       Serious                1261
                       Fatal                   145
Raining no high winds  Slight                69380
                       Serious                9468
                       Fatal                   848
Snowing + high winds   Slight                  773
                       Serious                 109
                       Fatal                     3
Snowing no high winds  Slight                 5637
                       Serious                 565
                       Fatal                    36
Name: count, dtype: int64

<h3>Wet weather slightly increases the likelihood of injuries during accidents. Slippery surfaces reduce tire grip and make it harder for drivers to stop or control their vehicles.</h3>
<hr>

<h3>11.Do more accidents happen during the day or at night?</h3>

In [41]:
accident['Time_of_Day'] = accident['Hour'].apply(lambda x: 'Day' if 6 <= x <= 18 else 'Night')
accident['Time_of_Day'].value_counts()

Time_of_Day
Night    660679
Name: count, dtype: int64

<h3>While most accidents occur on straight roads simply because they are more common, curved roads are riskier due to reduced visibility, sharp turns, and a higher chance of losing control.</h3>
<hr>

<h3>12.Are wet or icy roads linked to more accidents?</h3>

In [42]:
accident['Road_Surface_Conditions'].value_counts()

Road_Surface_Conditions
Dry                     448547
Wet or damp             186708
Frost or ice             18517
Snow                      5890
Flood over 3cm. deep      1017
Name: count, dtype: int64

<h3>Dry road surfaces have fewer severe accidents compared to wet or icy ones. Poor traction during wet or frozen conditions makes vehicles more likely to skid and collide.</h3>
<hr>

<h3>13.Which road type has the most accidents?</h3>

In [43]:
accident['Road_Type'].value_counts()

Road_Type
Single carriageway    492143
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

<h3>Roundabouts are generally safer than regular intersections because cars move more slowly, and drivers are forced to yield, which reduces the severity of potential crashes.</h3>
<hr>

<h3>14.Are accidents more common in cities or rural areas?</h3>

In [44]:
accident['District Area'].value_counts()

District Area
Birmingham            13491
Leeds                  8898
Manchester             6720
Bradford               6212
Sheffield              5710
                      ...
Berwick-upon-Tweed      153
Teesdale                142
Shetland Islands        133
Orkney Islands          117
Clackmannanshire         91
Name: count, Length: 422, dtype: int64

<h3>Highways tend to have fewer accidents than local roads since traffic is more controlled, but when accidents do occur, they are often more serious due to higher driving speeds.</h3>
<hr>

<h3>15.What kind of weather leads to the most crashes?</h3>

In [45]:
accident['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       520885
Raining no high winds     79696
Other                     17150
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

<h3>Foggy weather increases the risk of multi vehicle pile ups. Limited visibility makes it harder for drivers to spot hazards early, leading to chain reaction collisions.</h3>
<hr>

<h3>16.Which type of vehicle gets into accidents the most??</h3>

In [46]:
accident['Vehicle_Type'].value_counts()

Vehicle_Type
Car                                      497992
Van / Goods 3.5 tonnes mgw or under       34160
Bus or coach (17 or more pass seats)      25878
Motorcycle over 500cc                     25657
Goods 7.5 tonnes mgw and over             17307
Motorcycle 125cc and under                15269
Taxi/Private hire car                     13294
Motorcycle over 125cc and up to 500cc      7656
Motorcycle 50cc and under                  7603
Goods over 3.5t. and under 7.5t            6096
Other vehicle                              5637
Minibus (8 - 16 passenger seats)           1976
Agricultural vehicle                       1947
Pedal cycle                                 197
Data missing or out of range                  6
Ridden horse                                  4
Name: count, dtype: int64

<h3>Cars are responsible for most multi vehicle crashes since they make up the majority of vehicles on the road. More cars naturally lead to more chances of collisions involving several vehicles.</h3>
<hr>

<h3>17.Are accidents with buses or trucks usually more serious?</h3>

In [47]:
accident[accident['Vehicle_Type'].isin(['Bus','Truck'])]['Accident_Severity'].value_counts()

Series([], Name: count, dtype: int64)

<h3>Motorcycle accidents are more common during the daytime when roads are busier. However, nighttime motorcycle accidents are often more fatal due to poor visibility and higher speeds.</h3>
<hr>

<h3>18.In which areas do motorcycle accidents happen most often?</h3>

In [48]:
accident[accident['Vehicle_Type']=='Motorcycle']['Urban_or_Rural_Area'].value_counts()

Series([], Name: count, dtype: int64)

<h3>19.Are accidents with many vehicle types more dangerous?</h3>

In [49]:
accident.groupby('Number_of_Vehicles')['Accident_Severity'].value_counts()

Number_of_Vehicles  Accident_Severity
1                   Slight               157962
                    Serious               38940
                    Fatal                  3885
2                   Slight               346950
                    Serious               41578
                    Fatal                  3467
3                   Slight                46098
                    Serious                5808
                    Fatal                   900
4                   Slight                 9688
                    Serious                1340
                    Fatal                   272
5                   Slight                 2068
                    Serious                 326
                    Fatal                    70
6                   Slight                  609
                    Serious                 121
                    Fatal                    28
7                   Slight                  216
                    Serious                  63
                    Fatal                    17
8                   Slight                  110
                    Serious                  25
                    Fatal                    12
9                   Slight                   51
                    Serious                   5
                    Fatal                     1
10                  Slight                   20
                    Serious                   5
                    Fatal                     2
11                  Slight                   10
                    Fatal                     2
12                  Slight                    5
                    Serious                   2
13                  Slight                    4
                    Serious                   2
14                  Slight                    6
                    Fatal                     3
15                  Slight                    1
16                  Slight                    2
                    Fatal                     1
                    Serious                   1
19                  Serious                   1
28                  Fatal                     1
32                  Slight                    1
Name: count, dtype: int64

<h3>Pedestrian accidents occur more frequently in busy city areas where there’s heavier foot traffic. Distracted walking, jaywalking, and speeding vehicles often contribute to these incidents.</h3>
<hr>

<h3>20.Do certain vehicles get into more accidents in cities compared to rural areas?</h3>

In [50]:
accident.groupby(['District Area','Vehicle_Type']).size()

District Area  Vehicle_Type
Aberdeen City  Agricultural vehicle                       2
               Bus or coach (17 or more pass seats)      93
               Car                                      950
               Goods 7.5 tonnes mgw and over             35
               Goods over 3.5t. and under 7.5t            8
                                                       ...
York           Motorcycle over 125cc and up to 500cc     24
               Motorcycle over 500cc                     50
               Other vehicle                             14
               Taxi/Private hire car                     42
               Van / Goods 3.5 tonnes mgw or under       90
Length: 5530, dtype: int64

<h3>Bicycle accidents are more common in urban areas where cyclists share the road with cars and trucks. Heavy traffic and limited cycling lanes increase the risk of collisions.</h3>